
@mixin d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-webkit-box($lineClamp: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lineClamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
}